<section class="week">
    <div class="week__header">
        <app-days-of-week></app-days-of-week>
        <div class="date-of-week">
            <div class="date-of-week__date" *ngFor="let date of dateOfWeek">
                <app-link-to-day [day]="date"></app-link-to-day>
            </div>
        </div>
        <div [style.display]="'flex'">
            <div *ngFor="let tasksSeveral of tasksForSeveralDays; index as i"
                 class="tasks-for-several-days"
                 [style.height.px]="(top.maxSize ) * heightHour / 2"
            >
                <app-task-for-several-days *ngFor="let taskSeveral of tasksSeveral"
                                           [isWeek]="true"
                                           [task]="taskSeveral"
                                           [displayedDate]="getCurrentDate(i)"
                                           [ngStyle]="{'position': 'absolute', 'width': '100%'}"
                                           [style.top.px]="top[taskSeveral.id] * heightHour / 2"
                ></app-task-for-several-days>
            </div>
        </div>
        <span class="week__time-zone">GMT{{timeZone}}</span>
    </div>
    <div class="week__main">
        <app-day-by-hour></app-day-by-hour>
        <div class="week-content" [style.height.px]="heightDay">
            <div class="week-content__days">
                <app-container-day *ngFor="let date of dateOfWeek;index as i"
                                   [day]="date"
                                   class="week-content__day"
                >
                    <app-task *ngFor="let task of tasksByDays[i]"
                              [task]="task"
                              [left]="size[i][task.id] * size[i].width"
                              [width]="size[i].width"
                    ></app-task>
                </app-container-day>
            </div>
        </div>
    </div>
</section>
