<section class="month">
  <div class="month__week" *ngFor="let week of dateInMonth">
    <div class="month__day" *ngFor="let day of week" (click)="showEditorTask($event)">
      <a routerLink="/day" [style.color]="today === day ? 'blue' : 'black'"
         (click)="$event.stopPropagation(); selectDate(day)"
      >{{getDate(day)}}</a>
    </div>
  </div>
  <app-editor-task [top]="top" [left]="left" *ngIf="isVisibleEditorTask" (actionsDialog)="actionsDialog($event)">
  </app-editor-task>
  <app-view-task [top]="top" [left]="left" *ngIf="isVisibleViewTask" (actionsDialog)="actionsDialog($event)">
  </app-view-task>
</section>

