<div class="header">
    <button class="btn btn-outline-primary" (click)="showToday()">Today</button>
    <div class="change-date">
        <div class="change-date__arrow" (click)="changeDisplayedDate(true)">
            <i class="fas fa-chevron-left "></i>
        </div>
        <div>
            <select class="change-date__month" (change)="setMonth($event)" [value]="getMonth()">
                <option [value]="i" *ngFor="let month of months;index as i">{{month}}</option>
            </select>
            <input type="number" class="change-date__year" [value]="getFullYear()"
                   (change)="setFullYear($event)"/>
        </div>
        <div class="change-date__arrow" (click)="changeDisplayedDate(false)">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <app-select-mode [selectedMode]="modeCalendar"></app-select-mode>
</div>
