<section class="day">
    <div class="day__header">
        <div class="day__day-of-week">
            <span>{{dayOfWeek}}</span>
        </div>
        <div class="day__date">
            <span  [class]="isToday()">{{day}}</span>
        </div>
        <div class="tasks-for-several-days">
            <app-task-for-several-days [isWeek]="false"
                                       [task]="task"
                                       *ngFor="let task of tasksForSeveralDays;"
            ></app-task-for-several-days>
        </div>
        <span class="day__time-zone">GMT{{timeZone}}</span>
    </div>
    <div class="day__main" >
        <app-day-by-hour></app-day-by-hour>
        <app-container-day [day]="day" [style.width.%]="100">
            <app-task *ngFor="let task of tasks;"
                      (click)="$event.stopPropagation();"
                      [task]="task"
                      [left]="size[task.id] * size.width"
                      [width]="size.width"
            ></app-task>
        </app-container-day>
    </div>
</section>
