<div [style.top.px]="0"
     [style.left.%]="0"
     [style.width.%]="100"
     [style.height.px]="22"
     class="task-for-several-days"
     (click)="showViewTask()"
>
    <p class="task-for-several-days__text">
        {{task.name}}, {{(task.startDate | date: 'medium')}}
    </p>
    <div *ngIf="leftSide" class="arrow arrow-left"></div>
    <div *ngIf="rightSide" class="arrow arrow-right"></div>

</div>
<app-view-task *ngIf="isVisibleViewTask" (actionsDialog)="actionsDialog($event)" [task]="task"></app-view-task>
