<app-dialog>
    <div class="view-task">
        <div class='view-task_action view-task__delete' (mousedown)="deleteTask()">
            <i class="fas fa-trash-alt "></i>
        </div>
        <div class="view-task__text">
            <span>Name: {{task.name}}</span>
        </div>
        <div class="view-task__text">
            <span>Start: {{task.startDate | date: 'medium'}}</span>
        </div>
        <div class="view-task__text">
            <span>End: {{task.endDate | date: 'medium'}}</span>
        </div>
    </div>
</app-dialog>
