.editor-task__name {
    width: 100%;
}

.editor-task__date {
    display: flex;
    justify-content: space-between;
    input {
        width: 135px;
    }
}

.editor-task__save {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
